body {
    background-color: #8ba1bb;
    font-family: Arial;
    margin: 0;
}

/* this make all the "div element" */
* {

    overflow: auto;

}


.content {

    background-color: white;
    margin: 45px 10% 60px 10%;
    padding: 0 15px;

    /* this keep the content size  */
    min-width: 350px;
    overflow: visible;
}

.category {
    text-align: center;
    overflow: visible;
    margin-bottom: 15px;
    margin-top:50px;
}

p.category {

    color: white;
    display: inline-block;
    /* 0 auto ->top-bottom  & auto left rgint */
    
    padding: 30px;
    background-color: black;
    margin-top: -10px;
    padding:10px;
    font-size:16px;
    
}

h1 {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}

p#description {


    text-align: center;
    font-size: 10px;

}

.seperate {
    height: 1px;
    width: 100px;
    margin: 0 auto;
    background-color: gray;


}



.center {

    text-align: center;
    width: 100%;

}


.img_info {

    max-width: 100%;
    max-height: 100%;

    /* to eliminate the gap for image in div (image default element property is "inline" */
    display: block;
}

.demo {
    position: relative
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    font: 12px;
    color: white;
    background-color: #6fa0cb;
    opacity: 0.7;
    text-align: center
}

.info th ,.info td {

    border: 1px solid black;
    font-size: 14px;

}

.cake_info {

    top: 40px;



}

div.col1 {

    display: inline-block;
    text-align: center
}

div.col2 {
    
    
    float: right;
    text-align: center;
    
}

div.col{

    font-size: 12px;
    
    width :45%;
    margin-top: 20px;
    
}
div.col ul , ol{

    padding : 0px
}


div.col h2{
    text-transform: uppercase;
    border-bottom : 5px solid rgb(61, 156, 186);
    padding-bottom:5px
    
}



div.col1 p{
    font-size:  12px;
    border : 1px solid gray;
    padding: 6px ;
    margin : 3px;
    text-align: center;

}

p.instruction_number{
    font-size: 12px;
    text-align: center;
    background-color:rgb(61, 156, 186);
    width:15px;
    height:15px;
    padding:5px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 50%;
    font-weight: bold;
}


td.instruction_content{

    font-size :12px;
    

    


}

